.banner__home{
    h1 {
        color: $color-white;
         display: flex;
         align-items: center;
         justify-content: center;
         height: 100%;
         font-family: 'Montserrat';
         font-weight: bold;
   

     
     }
     &-pic{

        background-image: url("../../../assets/backgroundHome.png");
        background-position : center;
        background-size: cover;
        filter: brightness(0.5);
 
      
     }
        
     @media (max-width:505px) {
       h1{
        padding-left: 10px;
        width: 86%
       }
     }
    
}