.banner__home {
  h1 {
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'Montserrat';
    font-weight: 500;
  }

  &-pic {

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/backgroundHome.png");
    background-position: center;
    background-size: cover;

  }

  @media (max-width:$mobile_mini) {
    h1 {
      padding-left: 10px;
      width: 86%;
      font-size: 24px;

    }
  }

}