.carrousel{
    position: relative;
    height: 415px;
    width: 100%;
    margin-top: 30px;


    img{
        object-fit: cover;
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        inset: 0;
        border-radius: 25px;
    }
    p{
        position: relative;
        font-size: 18px;
        font-weight: 500;
        color:white;
        margin-top: 340px;
        text-align: center;
        text-shadow: 0px 0px 5px black;
    }
   &__button{
        border: none;
        background-color: transparent;
        display: hidden;
        color:white;
    }

    &__vectorRight{
       
     
            position: absolute;
            content: "";
            inset: 0;
            top: 310px;
            cursor: pointer;
            left: revert;
            padding-right: 30px;
      
    }
    &__vetorLeft{
     
            position: absolute;
            content: "";
            color: white;
            inset: 0;
            top:  310px;
            cursor: pointer;
            left: 30px;
    }
    &__counter-pic{
        position: absolute;
        content: "";
        inset: 0;
        top: 500px;
     font-weight: 500;
      font-size: 18px;
       text-align: center;
       color: white;
    }
    @media (max-width:$mobile_mini){
        height: 255px;
        &__vectorRight{
            padding-right: 10px;
            top: 230px;
        }
        &__vetorLeft{
            left: 10px;
            top: 230px;
        }
        &__counter-pic{
            display: none;
        }
    }
}
.content{
  width: 100%;
  display: flex;
  flex-direction: row;
  

    h1{
        color: $color-primary;
        font-size: 36px;
        margin-bottom: 0;
    }
    @media (max-width:$mobile_mini){
     h1{
        font-size: 18px;

     } 

     }
    
  &__title{
      display: flex;
      flex-direction: column;
      width: 90%;
      padding-left: 20px; 
      &-p{
        color: $color-primary;
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 10px;
   
      }
      @media (max-width:$mobile_mini){
        width: 100%;
        padding-left: 0;
        &-p{
            font-size: 14px;
            line-height: 142.6%;
        }

     }
     }  
   
    &__tags{

        display: flex;
        flex-direction: row;
        column-gap: 10px;
        flex-wrap: wrap;
        white-space: nowrap;

        @media (max-width:$tablette){
           column-gap: 5px;
     
        }
    
        

        &-list{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 25px;
            width: 145px;
            font-size: 14px;
            background-color: $color-primary;
            color: white;
            border-radius: 10px;
            white-space: nowrap;
         
            @media (max-width:$tablette){
          
             }
             @media (max-width:$mobile_mini){
                width: 100px;
                font-size: 10px;
             }
        }
       

     }
     &__blocHost{
        display: flex;
        flex-direction: column;
        @media (max-width:$desktop){
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
        }
        @media (max-width:$mobile_mini){
            p {
            font-size: 12px;
            text-align: right;
            width: 60px;
            }
        }
    
        &-host{
            display: flex;
            flex-direction: row;
            gap: 10px;
            color: $color-primary;
            margin-top: 20px;
            img{
                width: 64px;
                height: 64px;
                border-radius: 50%;
                @media (max-width:$mobile_mini){
                    width: 32px;
                    height: 32px;

                }
            }
            @media (max-width:$mobile_mini){
                align-items: center;
                padding-bottom: 20px;
            
                img {
                    width: 32px;
                    height: 32px;
                }
              
                
            }
    
         }
         &-stars{
            display: flex;
            font-size: 30px;
            gap: 10px;
            img{
                @media (max-width:$mobile_mini){
                    width: 18px;
                    height: 18px;
                }
            }
           
         }
     }
   

    @media (max-width:$desktop){
             flex-direction: column;

    }
     
}
