/*media queries*/
.carrousel {
  position: relative;
  height: 415px;
  width: 100%;
  margin-top: 30px;
}
.carrousel img {
  object-fit: cover;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  inset: 0;
  border-radius: 25px;
}
.carrousel p {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: white;
  margin-top: 340px;
  text-align: center;
  text-shadow: 0px 0px 5px black;
}
.carrousel__button {
  border: none;
  background-color: transparent;
  display: hidden;
  color: white;
}
.carrousel__vectorRight {
  position: absolute;
  content: "";
  inset: 0;
  top: 310px;
  cursor: pointer;
  left: revert;
  padding-right: 30px;
}
.carrousel__vetorLeft {
  position: absolute;
  content: "";
  color: white;
  inset: 0;
  top: 310px;
  cursor: pointer;
  left: 30px;
}
.carrousel__counter-pic {
  position: absolute;
  content: "";
  inset: 0;
  top: 75%;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: white;
}
@media (max-width: 505px) {
  .carrousel__vectorRight {
    padding-right: 10px;
    top: 280px;
  }
  .carrousel__vetorLeft {
    left: 10px;
    top: 280px;
  }
  .carrousel__counter-pic {
    display: none;
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.content h1 {
  color: #FF6060;
  font-size: 36px;
  margin-bottom: 0;
}
@media (max-width: 505px) {
  .content h1 {
    font-size: 18px;
  }
}
.content__title {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-left: 20px;
}
.content__title-p {
  color: #FF6060;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
}
@media (max-width: 505px) {
  .content__title {
    width: 100%;
    padding-left: 0;
  }
  .content__title-p {
    font-size: 14px;
    line-height: 142.6%;
  }
}
.content__tags {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  flex-wrap: wrap;
  white-space: nowrap;
}
@media (max-width: 912px) {
  .content__tags {
    column-gap: 5px;
  }
}
.content__tags-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 115px;
  font-size: 14px;
  background-color: #FF6060;
  color: white;
  border-radius: 10px;
  padding-inline: 14px;
  white-space: nowrap;
}
@media (max-width: 912px) {
  .content__tags-list {
    width: 100px;
    padding-inline: 20px;
  }
}
@media (max-width: 505px) {
  .content__tags-list {
    width: 84px;
    font-size: 10px;
    padding-inline: 20px;
  }
}
.content__blocHost {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1020px) {
  .content__blocHost {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 505px) {
  .content__blocHost p {
    font-size: 12px;
    text-align: right;
    width: 60px;
  }
}
.content__blocHost-host {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: #FF6060;
  margin-top: 20px;
}
.content__blocHost-host img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
@media (max-width: 505px) {
  .content__blocHost-host img {
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 505px) {
  .content__blocHost-host {
    align-items: center;
    padding-bottom: 20px;
  }
  .content__blocHost-host img {
    width: 32px;
    height: 32px;
  }
}
.content__blocHost-stars {
  display: flex;
  font-size: 30px;
  gap: 10px;
}
@media (max-width: 505px) {
  .content__blocHost-stars img {
    width: 18px;
    height: 18px;
  }
}
@media (max-width: 1020px) {
  .content {
    flex-direction: column;
  }
}

.collapse__logement {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}
.collapse__logement p {
  font-size: 18px;
}
.collapse__logement h3 {
  font-size: 18px;
}
.collapse__logement-li {
  list-style-type: none;
  padding-bottom: 5px;
}
@media (max-width: 505px) {
  .collapse__logement {
    flex-direction: column;
  }
  .collapse__logement h3 {
    font-size: 13px;
  }
  .collapse__logement p {
    font-size: 12px;
  }
}

/*# sourceMappingURL=logement.css.map */
