.footer{
    background-color: black;
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 209px;
   background-color: black;
    color: white;;
    font-size: 24px;
    @media (max-width:505px) {
        justify-content: center;
        p{
            font-size: 12px; 

        }
 
      }
  
}