
.header{
    flex-direction: row;
    max-width: 1400px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 20px;
    a{
        color: $color-primary;
    }
    
    @media (max-width:$mobile_mini) {

    a{
      font-size: 12px;
      white-space: nowrap;
    }
    }
 
    &__logo {

        height: 60px;
        padding-left: 20px;

      }
    &__link {
        display: flex;
        gap: 57px;
        padding-right  : 20px;
      } 
     &__a-active{
        text-decoration: underline;
     }
     &__a-nonactive{
        text-decoration: none;
     }

     @media (max-width:$mobile_mini) {

      &__link {
        gap: 20px;
        padding-right  : 10px;
      } 
      &__logo {
        width: 60%;
      }
    }
}


