@import "../utils/variables";


.header{
    flex-direction: row;
    max-width: 1400px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 20px;
 
    &__logo {
        width: auto;
        height: 60px;
        padding-left: 20px;

      }
    &__link {
        display: flex;
        gap: 57px;
        padding-right  : 20px;
      } 
      a {
        text-decoration: none;
        color: $color-primary;
    }
   

}